label ,a{
  font-size: large !important;
}

.container{
  margin-left: 7%;
}

.colorLight{
  color: white !important;
}

.colorDark{
  color: black !important;
}

.langues{
  color: black !important;
}

#inputDwellTime{
  margin-left: 10px;
}

#menuButton {
  background-color: white;
  width: 5em;
  height: 2em;
}